style.css
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    position: relative;
    min-height: 100%;
}
body{
    background: #fcfcfc;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    margin-bottom: 150px;
}
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 150px;
    width: 100%;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
    flex-shrink: 0;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}